@charset "utf-8";

@font-face {
    font-family: 'EdenredBold';
    src: url('../fonts/EdenredBold.eot');
    src: url('../fonts/EdenredBold.eot?#iefix') format('embedded-opentype'), url('../fonts/EdenredBold.woff') format('woff'), url('../fonts/EdenredBold.woff2') format('woff2');
}
