textarea {
    margin: 1rem;
    min-width: 65%;
    max-width: 65%;
    min-height: 25%;
    max-height: 60%;
    font-size: 1rem;
    padding: 20px;
    border-radius: 20px;
    border-color: #5aaaaa;
    background-color: #f0f0f0;
}

body {
    text-align: center;
    background-color: #FFFFFF;
}

#idbar {
    height: 84px;
    margin: 5%;
}

.scroller {
    overflow-x: scroll;
    width: vw;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-margin: 0;
    margin: auto;
}

.scroller>div {
    flex: 0 0 24em;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

.controlbtn {
    border: none;
    border-radius: 45px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #64A600;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    padding: 1.5em;
    font-size: 1em;
    transition: all 0.5s ease 0s;
}

.controlbtn:hover {
    background-color: #8cc436;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.3);

    transform: translateY(-5px);
}

.showbtn {
    background-color: #5b77c2;
}

.ebtn {
    display: none;
}

.modebtn {
    margin: 0.5em;
    font-weight: bold;
    height: 7em;
    width: 35%;
}

.famibtn {
    background-color: #969696;
    display: none;
}

h1 {
    border: none;
    border-radius: 45px;
    font-size: 1.5rem;
    width: 170px;
    color: #FFFFFF;
    background: #1ccccc;
    margin: 1rem auto;
}

#creatspeed,
#creatspeedValueDisplay {
    margin: 0.5rem;
    border: none;
    border-radius: 45px;
    font-size: 1.5rem;
    width: auto;
    margin-left: 15vw;
    margin-right: 15vw;
    color: #FFFFFF;
    
    transition: background 0.2s;
    padding: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer>img {
    margin: 15;
}

#floatingControls {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-top: 0px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  z-index: 9999;
}

#floatingControls button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 20px;
}
